body {
    margin: 0;
}

.top-bar {
    background-color: yellow;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-bar img {
    max-width: 35px;
    margin-right: 20px;
}

.top-bar a {
    margin-right: 10px;
    margin-left: 10px;
}

.menu-bar {
    background-color: lightgray;
    padding: 10px;
    width: 200px;
    transition: width 0.3s ease;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
}

.menu-bar.collapsed {
    width: 30px;
}

.menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-bar ul li {
    padding: 5px;
    transition: opacity 0.3s ease;
}

.menu-bar.collapsed ul li {
    opacity: 0;
}

.menu-bar.collapsed span {
    opacity: 0;
}

.menu-toggle {
    display: inline-block;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.menu-toggle .bar {
    background-color: black;
    height: 3px;
    margin-bottom: 6px;
    transition: background-color 0.3s ease;
}
        
.collapsed-menu-bar {
    background-color: lightgray;
    width: 30px;
    transition: width 0.3s ease;
}

.collapsed-menu-bar.collapsed {
    width: 0;
    overflow: hidden;
}

.content {
    margin-left: 250px;
    padding: 10px;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
}

.data-table th,
.data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #f2f2f2;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container label,
.form-container input {
    display: block;
    margin-bottom: 10px;
}

.form-container input[readonly] {
    background-color: #979191a2;
}

.form-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.form-container .error {
    color: red;
}


.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}
  
.review h2 {
    margin-top: 0;
}
  
.review p {
    margin-bottom: 10px;
}
  
.form-group {
    max-width: 1000px;
    margin-bottom: 20px;
}


.form-group input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}
.form-group input[readonly] {
    background-color: #979191a2;
}

.label {
    font-weight: bold;
}

.text-box {
    width: 100%;
    padding: 5px;
}

.menu-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
}

.menu-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu-card .card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu-card .name {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.menu-card .description {
    margin-bottom: 10px;
}

.menu-card .price {
    font-weight: bold;
}

.menu-card a {
    margin-top: 10px;
}

.a button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
    text-align: center;
}

.btn {
    text-align: center;
    text-transform: capitalize;
    --bg-opacity: 1;
    background-color: #b2f5ea;
    background-color: rgba(178, 245, 234, var(--bg-opacity));
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.25rem;
    --text-opacity: 1;
    color: #319795;
    color: rgba(49, 151, 149, var(--text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms
}

.btn:hover {
    --bg-opacity: 1;
    background-color: #81e6d9;
    background-color: rgba(129, 230, 217, var(--bg-opacity));
    --text-opacity: 1;
    color: #285e61;
    color: rgba(40, 94, 97, var(--text-opacity))
}

.btn-indigo {
    text-align: center;
    text-transform: capitalize;
    --bg-opacity: 1;
    background-color: #667eea;
    background-color: rgba(102, 126, 234, var(--bg-opacity));
    --text-opacity: 1;
    color: #ebf4ff;
    color: rgba(235, 244, 255, var(--text-opacity));
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.25rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms
}

.btn-indigo:hover {
    --bg-opacity: 1;
    background-color: #5a67d8;
    background-color: rgba(90, 103, 216, var(--bg-opacity));
    --text-opacity: 1;
    color: #c3dafe;
    color: rgba(195, 218, 254, var(--text-opacity))
}

.btn-info {
    text-align: center;
    text-transform: capitalize;
    --bg-opacity: 1;
    background-color: #faf089;
    background-color: rgba(250, 240, 137, var(--bg-opacity));
    --text-opacity: 1;
    color: #d69e2e;
    color: rgba(214, 158, 46, var(--text-opacity));
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.25rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms
}

.btn-info:hover {
    --bg-opacity: 1;
    background-color: #f6e05e;
    background-color: rgba(246, 224, 94, var(--bg-opacity));
    --text-opacity: 1;
    color: #d69e2e;
    color: rgba(214, 158, 46, var(--text-opacity))
}

.btn-danger {
    text-align: center;
    text-transform: capitalize;
    --bg-opacity: 1;
    background-color: #feb2b2;
    background-color: rgba(254, 178, 178, var(--bg-opacity));
    --text-opacity: 1;
    color: #e53e3e;
    color: rgba(229, 62, 62, var(--text-opacity));
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.25rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms
}

.btn-danger:hover {
    --bg-opacity: 1;
    background-color: #fc8181;
    background-color: rgba(252, 129, 129, var(--bg-opacity));
    --text-opacity: 1;
    color: #e53e3e;
    color: rgba(229, 62, 62, var(--text-opacity))
}

.btn-gray {
    text-align: center;
    text-transform: capitalize;
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: rgba(247, 250, 252, var(--bg-opacity));
    border-width: 1px;
    --border-opacity: 1;
    border-color: #e2e8f0;
    border-color: rgba(226, 232, 240, var(--border-opacity));
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 0.25rem;
    --text-opacity: 1;
    color: #718096;
    color: rgba(113, 128, 150, var(--text-opacity));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms
}

.btn-gray:hover {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    --text-opacity: 1;
    color: #2d3748;
    color: rgba(45, 55, 72, var(--text-opacity));
    border-width: 1px;
    --border-opacity: 1;
    border-color: #e2e8f0;
    border-color: rgba(226, 232, 240, var(--border-opacity))
}

.menu-form-container {
    width: 50%;
    float: left;
    margin-right: 20px;
}

.preview-menu-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    float: right;
}

.preview-menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preview-menu-card img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.preview-menu-card .name {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.preview-menu-card .description {
    margin-bottom: 10px;
}

.preview-menu-card .price {
    font-weight: bold;
}

.preview-menu-card a {
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.alert-success {
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-error {
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
    color: #721c24;
    background-color: #f58b94;
    border-color: #f5c6cb;
}

.text-xs {
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;
    color: #721c24;
    background-color: #f7a1a8;
    border-color: #f5c6cb;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.close:hover {
    color: #155724;
}